In [2]:
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [26]:
# Import data
df = pd.read_csv('D:/research/mydataset/myset.csv')
df.head(10)

,Type,in,male,female,out,date,codeno,location,day
0,car,5:30,1.0,0.0,5:35,1/25/2021,A,"(30.2706051, -97.7476349)",M
1,car,5:32,1.0,0.0,5:58,1/25/2021,A,"(30.2706051, -97.7476349)",M
2,car,5:32,0.0,1.0,5:57,1/25/2021,A,"(30.2706051, -97.7476349)",M
3,bike,5:33,1.0,0.0,5:38,1/25/2021,A,"(30.2706051, -97.7476349)",M
4,car,5:35,1.0,0.0,5:52,1/25/2021,A,"(30.2706051, -97.7476349)",M
5,car,5:35,1.0,0.0,5:36,1/25/2021,A,"(30.2706051, -97.7476349)",M
6,van,5:35,1.0,2.0,6:17,1/25/2021,A,"(30.2706051, -97.7476349)",M
7,bike,5:36,1.0,0.0,5:41,1/25/2021,A,"(30.2706051, -97.7476349)",M
8,bike,5:36,1.0,0.0,5:46,1/25/2021,A,"(30.2706051, -97.7476349)",M
9,threeweel,5:37,3.0,0.0,6:31,1/25/2021,A,"(30.2706051, -97.7476349)",M

In [27]:
df['concat_date_time_in']= df['date']+" "+df['in']
df['concat_date_time_in']= pd.to_datetime(df['concat_date_time_in'],format = "%m/%d/%Y %H:%M")
df['concat_date_time_out']= df['date']+" "+df['out']
df['concat_date_time_out']= pd.to_datetime(df['concat_date_time_out'],format = "%m/%d/%Y %H:%M")
df['time_diff'] = (df['concat_date_time_out']-df['concat_date_time_in']).astype('timedelta64[m]')
df.head(10)

,Type,in,male,female,out,date,codeno,location,day,concat_date_time_in,concat_date_time_out,time_diff
0,car,5:30,1.0,0.0,5:35,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:30:00,2021-01-25 05:35:00,5.0
1,car,5:32,1.0,0.0,5:58,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:32:00,2021-01-25 05:58:00,26.0
2,car,5:32,0.0,1.0,5:57,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:32:00,2021-01-25 05:57:00,25.0
3,bike,5:33,1.0,0.0,5:38,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:33:00,2021-01-25 05:38:00,5.0
4,car,5:35,1.0,0.0,5:52,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:35:00,2021-01-25 05:52:00,17.0
5,car,5:35,1.0,0.0,5:36,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:35:00,2021-01-25 05:36:00,1.0
6,van,5:35,1.0,2.0,6:17,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:35:00,2021-01-25 06:17:00,42.0
7,bike,5:36,1.0,0.0,5:41,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:36:00,2021-01-25 05:41:00,5.0
8,bike,5:36,1.0,0.0,5:46,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:36:00,2021-01-25 05:46:00,10.0
9,threeweel,5:37,3.0,0.0,6:31,1/25/2021,A,"(30.2706051, -97.7476349)",M,2021-01-25 05:37:00,2021-01-25 06:31:00,54.0

In [28]:
df.Type[df.Type =='car'] =1
df.Type[df.Type =='van'] =2
df.Type[df.Type =='van '] =2
df.Type[df.Type =='jeep'] =3
df.Type[df.Type =='bike0'] =4
df.Type[df.Type =='threeweel'] =5
df.Type[df.Type =='bike'] =6
df.Type[df.Type =='bike '] =6
df.Type[df.Type =='lorry'] =7
df.Type[df.Type =='cab '] =8
df.Type[df.Type == 'cab'] = 8

df.codeno[df.codeno =='A'] =1
df.codeno[df.codeno =='B'] =2
df.codeno[df.codeno =='c'] =3


df.head(10)

<ipython-input-28-55c7bc5e173d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='car'] =1
<ipython-input-28-55c7bc5e173d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='van'] =2
<ipython-input-28-55c7bc5e173d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='van '] =2
<ipython-input-28-55c7bc5e173d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='jeep'] =3
<ipython-input-28-55c7bc5e173d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='bike0'] =4
<ipython-input-28-55c7bc5e173d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='threeweel'] =5
<ipython-input-28-55c7bc5e173d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='bike'] =6
<ipython-input-28-55c7bc5e173d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='bike '] =6
<ipython-input-28-55c7bc5e173d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='lorry'] =7
<ipython-input-28-55c7bc5e173d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type =='cab '] =8
<ipython-input-28-55c7bc5e173d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Type[df.Type == 'cab'] = 8
<ipython-input-28-55c7bc5e173d>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.codeno[df.codeno =='A'] =1
<ipython-input-28-55c7bc5e173d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.codeno[df.codeno =='B'] =2
<ipython-input-28-55c7bc5e173d>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.codeno[df.codeno =='c'] =3

,Type,in,male,female,out,date,codeno,location,day,concat_date_time_in,concat_date_time_out,time_diff
0,1,5:30,1.0,0.0,5:35,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:30:00,2021-01-25 05:35:00,5.0
1,1,5:32,1.0,0.0,5:58,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:32:00,2021-01-25 05:58:00,26.0
2,1,5:32,0.0,1.0,5:57,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:32:00,2021-01-25 05:57:00,25.0
3,6,5:33,1.0,0.0,5:38,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:33:00,2021-01-25 05:38:00,5.0
4,1,5:35,1.0,0.0,5:52,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:35:00,2021-01-25 05:52:00,17.0
5,1,5:35,1.0,0.0,5:36,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:35:00,2021-01-25 05:36:00,1.0
6,2,5:35,1.0,2.0,6:17,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:35:00,2021-01-25 06:17:00,42.0
7,6,5:36,1.0,0.0,5:41,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:36:00,2021-01-25 05:41:00,5.0
8,6,5:36,1.0,0.0,5:46,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:36:00,2021-01-25 05:46:00,10.0
9,5,5:37,3.0,0.0,6:31,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:37:00,2021-01-25 06:31:00,54.0

In [15]:
df.to_csv('D:/research/mydataset/2.csv')

In [29]:
data = df[['codeno','location','concat_date_time_in','concat_date_time_out',"time_diff",'day']]
data.head(10)

,codeno,location,concat_date_time_in,concat_date_time_out,time_diff,day
0,1,"(30.2706051, -97.7476349)",2021-01-25 05:30:00,2021-01-25 05:35:00,5.0,M
1,1,"(30.2706051, -97.7476349)",2021-01-25 05:32:00,2021-01-25 05:58:00,26.0,M
2,1,"(30.2706051, -97.7476349)",2021-01-25 05:32:00,2021-01-25 05:57:00,25.0,M
3,1,"(30.2706051, -97.7476349)",2021-01-25 05:33:00,2021-01-25 05:38:00,5.0,M
4,1,"(30.2706051, -97.7476349)",2021-01-25 05:35:00,2021-01-25 05:52:00,17.0,M
5,1,"(30.2706051, -97.7476349)",2021-01-25 05:35:00,2021-01-25 05:36:00,1.0,M
6,1,"(30.2706051, -97.7476349)",2021-01-25 05:35:00,2021-01-25 06:17:00,42.0,M
7,1,"(30.2706051, -97.7476349)",2021-01-25 05:36:00,2021-01-25 05:41:00,5.0,M
8,1,"(30.2706051, -97.7476349)",2021-01-25 05:36:00,2021-01-25 05:46:00,10.0,M
9,1,"(30.2706051, -97.7476349)",2021-01-25 05:37:00,2021-01-25 06:31:00,54.0,M

In [30]:
df = df.set_index('concat_date_time_in')
df

,Type,in,male,female,out,date,codeno,location,day,concat_date_time_out,time_diff
concat_date_time_in,,,,,,,,,,,
2021-01-25 05:30:00,1,5:30,1.0,0.0,5:35,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:35:00,5.0
2021-01-25 05:32:00,1,5:32,1.0,0.0,5:58,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:58:00,26.0
2021-01-25 05:32:00,1,5:32,0.0,1.0,5:57,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:57:00,25.0
2021-01-25 05:33:00,6,5:33,1.0,0.0,5:38,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:38:00,5.0
2021-01-25 05:35:00,1,5:35,1.0,0.0,5:52,1/25/2021,1,"(30.2706051, -97.7476349)",M,2021-01-25 05:52:00,17.0
...,...,...,...,...,...,...,...,...,...,...,...
2021-02-25 07:11:00,2,7:11,1.0,1.0,7:27,2/25/2021,2,"(30.2742882, -97.7460403)",T,2021-02-25 07:27:00,16.0
2021-02-25 07:11:00,1,7:11,1.0,0.0,7:13,2/25/2021,2,"(30.2742882, -97.7460403)",T,2021-02-25 07:13:00,2.0
2021-02-25 07:12:00,6,7:12,1.0,0.0,7:16,2/25/2021,2,"(30.2742882, -97.7460403)",T,2021-02-25 07:16:00,4.0
2021-02-25 07:13:00,1,7:13,1.0,0.0,7:25,2/25/2021,2,"(30.2742882, -97.7460403)",T,2021-02-25 07:25:00,12.0
2021-02-25 07:14:00,6,7:14,1.0,0.0,7:19,2/25/2021,2,"(30.2742882, -97.7460403)",T,2021-02-25 07:19:00,5.0

In [31]:
df = df.resample('T').mean()
df

                     male  female  time_diff
concat_date_time_in
2021-01-25 05:30:00   1.0     0.0        5.0
2021-01-25 05:31:00   NaN     NaN        NaN
2021-01-25 05:32:00   0.5     0.5       25.5
2021-01-25 05:33:00   1.0     0.0        5.0
2021-01-25 05:34:00   NaN     NaN        NaN
...                   ...     ...        ...
2021-02-25 07:10:00   1.0     0.0       15.0
2021-02-25 07:11:00   1.0     0.5        9.0
2021-02-25 07:12:00   1.0     0.0        4.0
2021-02-25 07:13:00   1.0     0.0       12.0
2021-02-25 07:14:00   1.0     0.0        5.0

[44745 rows x 3 columns]

In [28]:
data.to_csv('D:/research/mydataset/7.csv')